<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/database.css">
        <link rel="stylesheet" type="text/css" href="css/nes.css/css/nes.css">
        <title>IGDB - View the Database</title>
    </head>
<body>

<div class = "header">
    <!--Header image here-->
    <div id="header_logo" class="nes-container is-rounded is-dark" style="background-color: rebeccapurple !important">
      <center>
        <span id="banner_title">INTERNET GAMES DATABASE</span>
      </center>
    </div>
    <div id ="links">
        <a class="nes-btn" href ="/"> Home</a> 
        <a class="nes-btn" href ="/database"> Database</a> 
        {{#if susername}}
          <a class="nes-btn" href="/user_page?uid={{uid}}">User Page</a>
          <a class="nes-btn" href="/logout">Sign out {{susername}}</a>
        {{else}}        
          <a class="nes-btn" href="/login">Sign In/Register</a>
        {{/if}}
        <a class="nes-btn" href="/about">About</a>
    </div>
    <div id="sitesearch">
      <form method="GET" action="search" id = "search">
          <button type="submit" value="Search" class="nes-btn" style="float:left">Search</button>
          <div class="nes-select siteselect">
            <select name="search_select">
              <option value="user">Users</option>
              <option value="game">Games</option>
            </select>
          </div>
          <div class="nes-field is-inline"  >
              <input style="margin-left:8px !important" type="search" name="query" placeholder="Search Game Titles or Users.." class="nes-input">
          </div>
      </form>
    </div>
</div>

<div class = "page"> 
  {{#if admin}}
  <center>
      <h3>Admin Options</h3>
      <button id="addnew" class="nes-btn is-success">Add New</button>
      <button class="edit_btn nes-btn is-warning" >Edit</button>
      <button class="del_btn nes-btn is-error" >Delete</button>
  </center>
  {{/if}}
  <div id = "insertion_point" class="nes-container is-rounded">
    {{#each docs}}
      <div class = "gamecard">
        <form method="POST">
          <a href="/game?gid={{_id}}"><h3 id="game_title">{{title}}</h3></a>
          <b>Genre:</b> <p id = "game_genre">{{genre}}</p>
          <b>Publisher:</b> <p id ="game_dev">{{publisher}}</p>
          <b>Developer:</b> <p id ="game_dev">{{developer}}</p>
          <b>Date Released:</b> <p id ="game_date">{{year}}</p>

          {{!-- {{#if admin}}
            <button type="submit" formaction="/db_delete" class="nes-btn">Delete</button>
          {{/if}} --}}
        </form>
      </div>
    {{/each}}
      
  </div>

      <div id="makenew" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class = "forms">
            <div class ="form_title"><h3>Add new Game</h3></div>
              <form class = "form_form" id = "form_form" method="POST" action="database">
                <p style="margin: 5px 0 0 0">Title</p>
                <input type = "text" id = "play_title" placeholder = "Title" name="title">
                <p style="margin: 5px 0 0 0">Genre</p>
                <input type = "text" id = "play_title" placeholder = "Genre" name="genre">
                <p style="margin: 5px 0 0 0">Publisher</p>
                <input type = "text" id = "play_title" placeholder = "Publisher" name="publisher">
                <p style="margin: 5px 0 0 0">Developer</p>
                <input type = "text" id = "play_title" placeholder = "Developer" name="developer">
                <p style="margin: 5px 0 0 0">Date Released</p>
                <input type = "date" id = "play_title" placeholder = "2020" name="year">
                <p style="margin: 5px 0 0 0">Description</p>
                <textarea name="description" rows="4" cols="43"></textarea>
                <br><button id = "submit">Submit</button>
              </form>
              <br>
            </div>
          </div>
        </div> 
      </div>
      <div id="edit" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close_edit">&times;</span>
          <div class = "forms">
            <div class ="form_title"><h3>Edit Game</h3></div>
              <form class = "form_form" id = "form_form" method="POST" action="db_edit">
                <p style="margin: 5px 0 0 0">Select Game to Edit</p>
                <select name="edit_id">
                  {{#each docs}}
                    <option value="{{_id}}">{{title}}</option>
                  {{/each}}
                </select>
                <p style="margin: 5px 0 0 0">Title</p>
                <input type = "text" id = "play_title" placeholder = "Title" name="edit_title">
                <p style="margin: 5px 0 0 0">Genre</p>
                <input type = "text" id = "play_title" placeholder = "Genre" name="edit_genre">
                <p style="margin: 5px 0 0 0">Publisher</p>
                <input type = "text" id = "play_title" placeholder = "Publisher" name="edit_publisher">
                <p style="margin: 5px 0 0 0">Developer</p>
                <input type = "text" id = "play_title" placeholder = "Developer" name="edit_developer">
                <p style="margin: 5px 0 0 0">Date Released</p>
                <input type = "date" id = "play_title" placeholder = "2020" name="edit_year">
                <p style="margin: 5px 0 0 0">Description</p>
                <textarea name="edit_description" rows="4" cols="43"></textarea>
                <br><button id = "submit">Submit</button>
              </form>
              <br>
            </div>
          </div>
        </div> 
      </div>
      <div id="delete" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close_del">&times;</span>
          <div class = "forms">
            <div class ="form_title"><h3>Delete Game</h3></div>
              <form class = "form_form" id = "form_form" method="POST" action="db_delete">
                <p style="margin: 5px 0 0 0">Select Game to Delete</p>
                <select name="delete_id">
                  {{#each docs}}
                    <option value="{{_id}}">{{title}}</option>
                  {{/each}}
                </select>
                <br><button id = "submit">Delete</button>
              </form>
              <br>
            </div>
          </div>
        </div> 
      </div>

</div>
</div>

	<script src = "/js/database.js"></script>
</body>
</html>
