<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="css/game.css">
     <link rel="stylesheet" type="text/css" href="css/nes.css/css/nes.css">

    <title id = "igdb_title">IGDB - {{title}}</title>
  </head>
  <body>
<div class = "header">
    <!--Header image here-->
    <div id="header_logo" class="nes-container is-rounded is-dark" style="background-color: rebeccapurple !important">
      <center>
        <span id="banner_title">INTERNET GAMES DATABASE</span>
      </center>
    </div>
    <div id ="links">
        <a class="nes-btn" href ="/"> Home</a> 
        <a class="nes-btn" href ="/database"> Database</a> 
        {{#if susername}}
          <a class="nes-btn" href="/user_page?uid={{uid}}">User Page</a>
          <a class="nes-btn" href="/logout">Sign out {{susername}}</a>
        {{else}}        
          <a class="nes-btn" href="/login">Sign In/Register</a>
        {{/if}}
        <a class="nes-btn" href="/about">About</a>
    </div>
    <div id="sitesearch">
      <form method="GET" action="search" id = "search">
          <button type="submit" value="Search" class="nes-btn" style="float:left">Search</button>
          <div class="nes-select siteselect">
            <select name="search_select">
              <option value="user">Users</option>
              <option value="game">Games</option>
            </select>
          </div>
          <div class="nes-field is-inline"  >
              <input style="margin-left:8px !important" type="search" name="query" placeholder="Search Game Titles or Users.." class="nes-input">
          </div>
      </form>
    </div>
</div>
<!--Container for things below-->
    <div id = "page">
      <div id = "gametitle" class = "nes-container is-rounded">
        <h3>{{title}}</h3><br>
        <progress class="nes-progress is-primary" value="90" max="100"></progress>
      </div>

      <div id = "gamepic" class = "nes-container is-rounded">
        <img id = "game_pic" src = "https://i.ytimg.com/vi/90okTocF9DM/maxresdefault.jpg">
      </div>

      <div id = "gamefacts" class = "nes-container is-rounded">
         <b>Publisher:</b>{{publisher}}<br>
         <b>Developer:</b>{{developer}}<br>
         <b>Date Published:</b>{{year}}<br>
         <b>Genre:</b>{{genre}}<br>
      </div>
      <div class="cont">
        <div id = "gamedesc" class = "nes-container is-rounded">
          {{description}}
        </div>
        
        <div id = "commenter" class = "nes-container is-rounded">
            <h3>Write a review for this game.</h3>
            <form class = "form_form" id = "form_form" method="POST" action="/review">
                  <input type="hidden" name="gid" value="{{gid}}" /> 
                  <span style="margin: 5px 0 0 0">Title</span>
                  <input type = "text" placeholder = "Title" name="title">
                  <span style="margin: 5px 0 0 0">Rating</span>
                  <input type = "number" min="0" max="100" value="100" name="rating">
                  <p style="margin: 5px 0 0 0">Review</p>
                  <textarea name="review" rows="4" cols="96" placeholder="This game is great!"></textarea>
                  {{#if susername}}
                  <br><button class="nes-btn" id = "submit">Submit</button>
                  {{else}}
                  <a class="nes-btn" href="/login">Sign In to Review</a>
                  {{/if}}
            </form>
        </div>
      </div>
       
      <div id = "reviews" class = "nes-container is-rounded">
          <table>
            <tr><th><h3>Reviews</h3></th></tr>
            {{#each reviews}}
            <tr><td><a href="/review?id={{_id}}">{{title}}</a></td></tr>
            {{/each}}
          </table>
      </div>
      

      
    </div>
  </body>
</html>
